.header{
  margin: 0 auto;
  text-align: center;
  width: 100%;
  margin-bottom: 50PX;
}
@font-face {
  font-family: "Arcade";
  src: url(ArcadeClassic.ttf);
}
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 105vw;
  height: 100vh;
  background-image: linear-gradient(-0.35turn,#db30fd, #7830ca);
  z-index: -1;
}
body {
font-family: Arial, sans-serif;
  color: white; 
  background-color: rgb(31, 2, 31); /* For browsers that do not support gradients */
  background-image: linear-gradient(-0.35turn,#9F65D9, #2E255E);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
 
  
}

.welcome{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.brainchar{
margin-top: 50px;

}

.sans{
  font-family: sans-serif;
  font-size: 40px;
  flex: 1;
}

.offer h2{
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  
  padding-left: 25px;
  
}

.arcade2{
  font-family: "Arcade";
  font-size: 44px;
}
.satfont{

  font-family: sans-serif;
}

.arcadetitle{
  font-family: "Arcade";
  font-size: 32px;
  margin-left: auto;
  margin-right: auto; 
  text-align: center;
  color: white;
}
.search{
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  border-radius: 28px;
  background-image:linear-gradient(0.35turn, hsl(182, 100%, 87%), #1de1e7);
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.search-input{
  font-size: 16px;
  font-family: 'Lexend', sans-serif;
  margin-left: 14px;
  outline: none;
  border: none;
  background: transparent;
  width: 300px;
}

.search-input::placeholder{
  color:rgb(255, 255, 255)
}


a{
  font-family: "Arcade";
  font-size: 32px;

}

.practice {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 2px;
  padding-top: 0.5px;
  text-align: center;
}
.smartphone {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 2px;
  padding-top: 0.5px;
  text-align: left;
}

.displaytestsat{
  
  background-image:linear-gradient(#009ADA, #0b85b9);
  color:#ffffff;
  width: 15%;
  border-radius: 20px;
  height: max-content;
  box-shadow:0px 5px #9787f5;
  margin-left: 25%;
  
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 2px;
  padding-top: 2px;
}

.displaytestact{
  
  background-image:linear-gradient(rgb(176, 127, 255), #9787f5);
  color:#ffffff;
  width: 60%;
  border-radius: 10px;
  height: max-content;
  box-shadow:0px 5px #9787f5;
  margin-left: auto;
  margin-right: auto;
  
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 2px;
  padding-top: 2px;
}
.displaytestged{
  
  background-image:linear-gradient(rgb(176, 127, 255), #9787f5);
  color:#ffffff;
  width: 60%;
  border-radius: 10px;
  height: max-content;
  box-shadow:0px 5px #9787f5;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 2px;
  padding-top: 2px;
}

footer{
  margin-left: auto;
  margin-right: auto; 
  text-align: center;
  font-family: "Arcade";
  color: white;
}

.satbodytimed{
  background: #ffffff;
  color:#000000;
  border: 5px solid #9787f5;
  width: 80%;
  height: 1200px;
  box-shadow: 5px 5px #9787f5;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 2px;
  padding-top: 2px;

}

.testqt {
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.questionformat {
  width: 80%;
 margin-left: auto;
  margin-right: auto;
}

.satbutton{
  background-image:linear-gradient(#8abbcf, #0b85b9);
  color: #ffffff;
  box-shadow: 2px 2px black;
  width: 77px;
  height: 77px;
  padding: 3px;
  border-width: 3px;
  border-color: black;
  font-size: 31px;
  font-family: sans-serif;
  border-radius: 12px;
  display: block;
  text-align: center;
  transition: all 0.3s;
  margin-bottom: 40px;
}

.actbutton{
  background-image:linear-gradient(#ebecec, #838e94);
  color: #1b1b1b;
  box-shadow: 2px 2px black;
  width: 77px;
  height: 77px;
  padding: 3px;
  border-width: 3px;
  border-color: black;
  font-size: 31px;
  border-radius: 12px;
  display: block;
  text-align: center;
  transition: all 0.3s;
  margin-bottom: 40px;

}
.gedbutton{
  background-image:linear-gradient(#8ed8d8, #198699);
  color: #ffffff;
  box-shadow: 2px 2px black;
  width: 77px;
  height: 77px;
  padding: 3px;
  border-width: 3px;
  border-color: black;
  font-size: 31px;
  border-radius: 12px;
  display: block;
  text-align: center;
  transition: all 0.3s;
  margin-bottom: 40px;

}
.satdesc{
font-size: 16px;
height: max-content;

}

button:hover{
cursor: pointer;
background: linear-gradient(rgb(176, 127, 255), #9787f5);
box-shadow: 0 0 5px #9787f5,
            0 0 20px #9787f5;

}


.whitearcade{
  font-family: "Arcade";
  font-size: 12px;
  color:#ffffff;


}

.gif{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 40px;


}

h2 {

  text-align: center;
}

.container{
display: flex;
column-gap: 15px;
margin-left: 5%;
}

.actcontainer{
  display: flex;
  column-gap: 15px;
  margin-left: 5%;
  }

.gedcontainer{
  display: flex;
  column-gap: 15px;
  margin-left: 5%;
  }

  .lessoncontainer{
    display: flex;
    column-gap: 15px;
    margin-left: 5%;
    }


.containerwelcome{
  display: flex;
  column-gap: 15px;
  margin-left: 5%;
  }

    .lessonbutton{
      background-image:linear-gradient(#feffcc, #cfbe22);
      color: #000000;
      box-shadow: 4px 10px 21px -10px rgba(0,0,0,0.75);
      width: 125px;
      padding: 10px;
      font-family: sans-serif;
      font-size: 22px;
      border: none;
      border-radius: 12px;
      display: block;
      text-align: center;
      transition: all 0.3s;
      margin-bottom: 40px;
    }
    
    .wrapper{
      margin: auto;
      margin-top: 80px;
      margin-bottom: 50px;
      }

      .actlessonbutton{
        background-image:linear-gradient(#ebecec, #838e94);
        color: #000000;
        box-shadow: 4px 10px 21px -10px rgba(0,0,0,0.75);
        width: 125px;
        padding: 10px;
        font-family: sans-serif;
        font-size: 22px;
        border: none;
        border-radius: 12px;
        display: block;
        text-align: center;
        transition: all 0.3s;
        margin-bottom: 40px;
      }
