.header{
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding-bottom: 50px;
  }
  @font-face {
    font-family: "Arcade";
    src: url(ArcadeClassic.ttf);
  }
  @font-face {
    font-family: "Bungee";
    src: url(Bungee-Regular.ttf);
  
    
  }
  @font-face {
    font-family: "Montserrat-SemiBold";
    src: url(Montserrat-SemiBold.ttf);
  
    
  }
  
  body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#4b1c81, #c890fd);
    z-index: -1;
  }
  body {
  font-family: Arial, sans-serif;
    color: white; 
    background-color: rgb(31, 2, 31); /* For browsers that do not support gradients */
    background-image: linear-gradient(-0.35turn,#9F65D9, #2E255E);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    max-width: 1440px;
    height: -webkit-fill-available;
    
  }
  
  html {
  
  height: -webkit-fill-available;
  }

h1 {

    font-family: "Bungee";
    font-size: 32px;

}

.wrapper{
  margin: 0 auto;
  text-align: center;
  width: 100%;
  margin-bottom: 35px;
  }

.search{
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  border-radius: 12px;
  border: none;
  color: rgb(0, 0, 0);
  box-shadow: 6px 6px #c890fd;
  background:white;
  
  margin-left: auto;
  margin-right: auto;
}

.search-input{
  font-size: 16px;
  font-family: 'Lexend', sans-serif;
  margin-left: 14px;
  outline: none;
  border: none;
  background: transparent;
  width: 300px;
}

.search-input::placeholder{
  color:black;
}

  
  div{
    margin: 20px;
    }
    
    
    .satbuttontimed{
      background-image:linear-gradient(#8abbcf, #0b85b9);
      color: #ffffff;
      box-shadow: 2px 2px black;
      width: 125px;
      padding: 10px;
      border-width: 3px;
      border-color: black;
      font-family: sans-serif;
      font-size: 22px;
      
      border-radius: 12px;
      display: block;
      text-align: center;
      transition: all 0.3s;
      margin-bottom: 40px;
    }
      
      button:hover{
      cursor: pointer;
      background-image: linear-gradient(rgb(176, 127, 255), #9787f5);
      box-shadow: 0 0 5px #9787f5,
                  0 0 20px #9787f5;
      
      }

      .satbackground{
        width: 95%;
        background-color: white;
        border-radius: 15px;
        padding-top: 10px;
        border-width: 5px;
        border-color: #000000;
        padding-bottom: 30px;
        box-shadow: 4px 4px #000000; 
        margin-bottom: 30px;  
        padding-bottom: 10px;
        margin: 35px auto 0;
        }
.aboutsat{
    width: 95%;
    margin: 0 auto;
  text-align: center;
  font-family: "Montserrat-SemiBold";
      }

.container{
  display: flex;
  column-gap: 15px;
  margin-left: 5%;
        }
        
.satdesc{
  font-size: 14px;
  font-style: "Montserrat-SemiBold";
  height: max-content;
  color: #000000;
        }