body {
font-family: Arial, sans-serif;
  color: white; 
  background-color: rgb(31, 2, 31); /* For browsers that do not support gradients */
  background-image: linear-gradient(rgb(22, 7, 32), rgb(87, 42, 177));
   height: 1500px;
}

.linkcenter{
  text-align: center;
}

.header{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.search{
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  border-radius: 28px;
  background: #9787f5;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;

}
.search-input{
  font-size: 16px;
  font-family: 'Lexend', sans-serif;
  margin-left: 14px;
  outline: none;
  border: none;
  background: transparent;
  width: 300px;
}

.search-input::placeholder{
  color:rgb(255, 255, 255)
}

div{
margin-bottom: 20px;
}
a{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;

}

.practice {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 2px;
  padding-top: 0.5px;
}
.smartphone {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 2px;
  padding-top: 0.5px;
}


.displaytestsat{
  
  background: #ffffff;
  color:#9787f5;
  border: 5px solid #9787f5;
  width: 60%;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 2px;
  padding-top: 2px;
}
.displaytestact{
  
  background: #ffffff;
  color:#9787f5;
  border: 5px solid #9787f5;
  width: 60%;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 2px;
  padding-top: 2px;
}
.displaytestged{
  
  background: #ffffff;
  color:#9787f5;
  border: 5px solid #9787f5;
  width: 60%;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 2px;
  padding-top: 2px;
}