body {
font-family: Arial, sans-serif;
}
.linkcenter{
  text-align: center;
}
.practice {
  width: 80%;
  background-color: silver;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.smartphone {
  width: 80%;
  background-color: silver;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
