* {
    margin: 0;
    padding:0;
font-family: Arial, Helvetica, sans-serif;
box-sizing: border-box;
}

@font-face {
    font-family: "Arcade";
    src: url(ArcadeClassic.ttf);
  }
body{
    background-image: linear-gradient(rgb(22, 7, 32), rgb(87, 42, 177));
    height: 750px;
}

.app{
    background: #ffff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    padding: 20px;
    box-shadow: 5px 5px #9787f5;
    
}

.arcade2{
    font-family: "Arcade";
    font-size: 32px;
  }.app h1{
    font-weight: 25px;
    font-family: "Arcade";
    color: black;
    border-bottom: 1px solid #000000;
    padding: 30px;

  }