body {
font-family: Arial, sans-serif;
}
.linkcenter{
  text-align: center;
}

div{
margin-bottom: 15px;
}

.practice {
  width: 80%;
  background-color: silver;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.smartphone {
  width: 80%;
  background-color: blue;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
