* {
    margin: 0;
    padding:0;
font-family: Arial, Helvetica, sans-serif;
box-sizing: border-box;
}

.header{
  margin: 0 auto;
  text-align: center;
  width: 100%;
  margin-bottom: 50PX;
    
  }

@font-face {
    font-family: "Arcade";
    src: url(ArcadeClassic.ttf);
  }

body{
    background-image: linear-gradient(rgb(22, 7, 32), rgb(87, 42, 177));
    height: 750px;
}

.app{
    background: #ffff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    padding: 20px;
    box-shadow: 5px 5px #9787f5; 
}

  .app h1{
    font-size: 25px;
    font-family: "Arcade";
    color: black;
    border-bottom: 1px solid #000000;
    padding: 30px;
  }
  
  .quiz{
    padding: 20px 0;
  }

  .quiz h2{
    font-size: 14px;
    color: #000000;
    font-weight: 600;
  }
  .btn{
    background: #ffffff;
    color: #000000;
    border-color:#000000;
    font-weight: 500;
    width: 100%;
    box-shadow: 5px 5px #9787f5;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    cursor: pointer;
    transition: all 0.3s;
  }

  .btn:hover{
    background: #9787f5;
    color: #fff;
  }

  #next-btn{
    background: #ffffff;
    color: #000000;
    font-weight: 500;
    width: 150px;
    box-shadow: 5px 5px #9787f5;
    padding: 10px;
    margin: 20px auto 0;
    cursor: pointer;
    display:none;
  }







